/* Add CSS styling here */
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*general styles */
html{
    font-size: 62.5%;
}
body{ border: .5rem solid blue;
    font-size:2rem;
    color: darkslateblue;
    
}
div#document{
  margin:0 auto;
  font-family: 'Ubuntu', sans-serif;
}

/*header section style*/
header{
    padding: 5%;
    background-color: paleturquoise;
}
h1{
    color: midnightblue;
    text-align: left;
    display:flex;
    font-size: 4.5rem;
  }
  nav{
      padding: 1%;
      color:turquoise;
      font-size: 2.5rem;
  }
  nav a{
    padding: .1rem .1rem;
    border: .1rem solid black;
    border-radius: .2rem;
    font-size: 2rem;
    margin-left: 1%;
    margin-top: 1%;
  }
  nav a:hover{
      color: lightgreen
  }
  .hidden{
      display: none;
  }
  /* about section */
#main{
    border: .5rem solid lightskyblue;
    background-color: lightskyblue;
}
.about{
    display: flex;
    margin-left: 1rem;
}
h2{
    font-size: 3rem;
    font-weight: bold;
}
.text button{
    padding: .1rem .1rem;
    border: .1rem solid black;
    border-radius: .2rem;
    font-size: 2rem;
    margin-left: 1%;
    margin-top: 1%;
    background-color: aliceblue;
    
}

.aboutme{
    text-align: center;
}
.firstphoto{
    width: 45%; 
}
.firstphoto img{
    max-width:100%; 
    display: flex;
    justify-content: left;
    justify-content: start;
    
}

/* photos section */

section.projects{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    
    
}
div.image img{ 
    margin-top: 2rem;
    margin-bottom: 2rem; 
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    
}
/*footer */
footer {
    background-color: paleturquoise;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  footer button {
    padding: .5rem .5rem;
    border: .1rem solid black;
    border-radius: .5rem;
    font-size: 2.2rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    background-color: aliceblue;
  }
  /* media queries */
  @media (max-width: 800px){
      div.image img{ 
        margin-top: 1rem;
        margin-bottom: 1rem; 
        max-width: 80%;
        width: 17rem;
        height: 17rem;
      }
      span.project-info{
          font-size: 1.5rem;
      }
  }
  @media (max-width: 500px){

div.image img{
    width: 10rem;
    height: 10rem;
}
span.project-info{
    font-size: 1rem;
}

  }
